/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
  background-color: #1a1a1a;
  color: #ffffff;
}


/* Ensure tabs and text have the sleek, minimalistic look */
.MuiTabs-indicator {
  background-color: #ffffff !important;
}


.MuiTab-root:hover {
  color: #ffffff !important;
}